{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/app/pages/account.css') }}">
{% endblock %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="center-block w6 auto">
    <h1 class="title-h1">Mon compte</h1>

    <h2 class="title-h2">Bienvenue {{ app.user.firstname }} sur ton espace personnel</h2>

    {% if app.request.query.get('password') == 'ok' %}
        <div class="alert alert-success">
            Votre mot de passe a bien été mis à jour.
        </div>
    {% endif %}

    <div class="flex">
        <div class="w3 box">
            <h3>Mon activité</h3>
            <img src="{{ asset('assets/svg/activity.svg') }}" alt="">
        </div>
        
        <div class="w3 box" onclick="document.location.href = '{{ url }}mon-compte/mes-informations' ">
            <h3>Mes informations</h3>
            <img src="{{ asset('assets/svg/account.svg') }}" alt="">
        </div>
        
        <div class="w3 box">
            <h3>Mes adresses</h3>
            <img src="{{ asset('assets/svg/delivry.svg') }}" alt="">
        </div>
    </div>
</div>
{% endblock %}
