{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/app/pages/account.css') }}">
{% endblock %}

{% block title %}Mes informations{% endblock %}

{% block body %}
<div class="center-block w4 auto">
    <h1 class="title-h1">Modifier mon mot de passe</h1>

    {% if notification %}
        <div class="alert alert-{{notification.type}}">
            {{notification.content|raw}}
        </div>
    {% endif %}

        <span class="link"><a href="{{ path('app_account_informations') }}"><img src="{{ asset('assets/svg/return.svg') }}" alt=""> Retour</a></span>

    {{ form_start(form) }}
        <h3 class="title-h3">Information du compte</h3>

        <div class="flex">

            <div class="form w10">
                <div class="form-group" id="edit_password_old_password_group">
                    <span id="edit_password_old_password_label">{{ form_label(form.old_password) }}</span>
                    <div class="flex">
                        {{ form_widget(form.old_password) }}
                        <img src="{{ asset('assets/svg/eye.svg') }}" alt="Afficher le mot de passe" onclick='lookPassword(document.getElementById("edit_password_old_password"))'>
                    </div>
                    {{ form_errors(form.old_password) }}
                </div>
            </div>
        </div>
        
        <div class="flex">
            <div class="form w10">
                <div class="form-group" id="edit_password_new_password_first_group">
                    <span id="edit_password_new_password_first_label">{{ form_label(form.new_password.first) }}</span>
                    <div class="flex">
                        {{ form_widget(form.new_password.first) }}
                        <img src="{{ asset('assets/svg/eye.svg') }}" alt="Afficher le mot de passe" onclick='lookPassword(document.getElementById("edit_password_new_password_first"))'>
                    </div>
                </div>
                {{ form_errors(form.new_password.first) }}
            </div>
        </div>

        <div class="flex">
            <div class="form w10">
                <div class="form-group" id="edit_password_new_password_second_group">
                    <span id="edit_password_new_password_second_label">{{ form_label(form.new_password.second) }}</span>
                    <div class="flex">
                        {{ form_widget(form.new_password.second) }}
                        <img src="{{ asset('assets/svg/eye.svg') }}" alt="Afficher le mot de passe" onclick='lookPassword(document.getElementById("edit_password_new_password_second"))'>
                    </div>
                </div>
                <small class="help">Le mot de passe doit contenir au moins : 1 majuscule, 1 miniscule, 1 chiffre.</small>
            </div>
        </div>
{{ form_end(form) }}
</div>
{% endblock %}
