<meta charset="UTF-8">
<title>{% block title %}Accueil{% endblock %} - Le secret de Loli</title>
{# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}


<link rel="stylesheet" href="{{ asset('assets/css/app/base.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/app/header.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/app/footer.css') }}">

<link rel="stylesheet" href="{{ asset('assets/css/library/layout.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/library/components/alert.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/library/components/btn.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/library/components/form.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/library/components/title.css') }}">

<script src="{{ asset('assets/js/form.js') }}"></script>
{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
{% endblock %}