<header>
    <div class="flex">
        <nav class="flex">
            <div class="flex"><strong><a class="logo" href="">Le secret de Loli</a></strong></div>
            <div class="flex nav"><a href="">Le blog</a></div>
            <div class="flex nav"><a href="">Les produits</a></div>
            <div class="flex nav"><a href="">Qui sommes-nous ?</a></div>
            {% if app.user == false %}
            <div class="flex nav"><a href="{{ path('app_register') }}">Nous rejoindre</a></div>
            {% endif %}
            <div class="flex nav"><a href="">Nous contacter</a></div>
        </nav>
        <div class="flex">
            {% if app.user %}
                <div class="flex nav dropdown dropdown-espace-membre">
                    <span>Bonjour {{ app.user.firstname }}</span>
                    <div class="dropdown-list">
                        <ul>
                            <li>
                                <a href="{{ path('app_account') }}">
                                    <img src="{{ asset('assets/svg/account.svg') }}" alt="Mon compte">
                                    Mon compte
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_logout') }}">
                                    <img src="{{ asset('assets/svg/logout.svg') }}" alt="Déconnexion">
                                    Déconnexion
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="flex nav dropdown dropdown-espace-membre">
                    <span>Espace client</span> 
                    <div class="dropdown-list">
                        <ul>
                            <li>
                                <a href="{{ path('app_login') }}">
                                    <img src="{{ asset('assets/svg/login.svg') }}" alt="Se connecter">
                                    Se connecter
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_register') }}">
                                    <img src="{{ asset('assets/svg/register.svg') }}" alt="Inscription">
                                    S'inscrire
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
                <div class="flex nav"><img src="{{ asset('assets/svg/cart.svg') }}" alt=""><p class="count-cart">3</p></div>
        </div>
    </div>
</header>